<html>

<head>
    <title>Quotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <!-- Bootstrap -->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'login/css/index.css' %}" charset="utf-8"  />
</head>

<body>
    <h1>Welcome to the Quotes App!</h1>
    <div class="wrapper">

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form class="lform" action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <h3>Register</h3>
            <p>Name:</p>
            <input type="text" name="name" />

            <p>Alias:</p>
            <input type="text" name="alias" />

            <p>Email:</p>
            <input type="text" name="email" />

            <p>Password:</p>
            <input type="password" name="password" />

            <p>Confirm PW:</p>
            <input type="password" name="password_confirmation" />
            <p class="btnpar">
                <input type="submit" value="Register" />
            </p>
        </form>

        <form class="rform" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h3>Login</h3>
            <p>Email:</p>
            <input type="text" name="email" />

            <p>Password:</p>
            <input type="password" name="password" />
            <p class="btnpar">
                <input type="submit" value="Login" />
            </p>
        </form>
    </div>
</body>

</html>