html, body {
text-align: center;
height: auto;
width: 100%;
}
h1{
margin-bottom: 40px;
}
.wrapper{
text-align: justify;
display: flex;
justify-content: space-around;
height: auto;
width: 100%;
}
.regform{
height: auto;
width: 230px;
display: inline-block;
vertical-align: top;
background-color: #ced0d3;
border: solid black;
border-radius: 25px;
opacity: 0.8;
padding: 14px;
}
.logform{
height: auto;
width: 230px;
display: inline-block;
vertical-align: top;
background-color: #ced0d3;
border: solid black;
border-radius: 25px;
opacity: 0.8;
padding: 14px;
}